@import './variables.css';
@import './base.css';
@import './components/button.css';
@import './components/input.css';
@import './components/calendar.css';
@import './components/date-button.css';
@import './components/month-picker.css';
@import './components/year-picker.css';
@import './components/date-range-picker.css';

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(15, 18, 20, 1);
}


